
#n{
    text-align: center;
    background-color:purple;
    color: red;
    font-size: 30px;
    }
    #a{
        color: blue($color: #000000);
        background-color: plum;
    }
    #x{
        background-color:red;
        color: seagreen;
       
    }