<div >
<ion-card  style=" width: 500px;  margin-left: 400px; " >
  <ion-list style="background-color: rgb(206, 225, 236);" >
    <ion-item id="r" >
      <ion-label>Amount to invest :</ion-label>
      <ion-input type="number" value="" min=0 placeholder=" Amount " [(ngModel)]="amount"></ion-input>
    </ion-item>
  
    <ion-item id="r">
      <ion-label>Years to invest :</ion-label>
      <ion-input type="number" value="" min=0 placeholder="Year(s)" [(ngModel)]="years"></ion-input>
    </ion-item>
    <ion-item id="r">
    <ion-label>Interest Rate: {{perc}}%</ion-label> 
  </ion-item>
    <br>
    <button ion-button color="dark"  (click)="Calculate()">Calculate</button><br>
   </ion-list>
</ion-card>
</div>

<ion-card  *ngIf="hide"  style="background-color: rgb(243, 231, 231);  width: 500px;  margin-left: 400px;"  >
  <ion-card-header style=" font-size: 17px;  color: black;">
   <b> Estimated Returns: </b>
  </ion-card-header>
  <ion-list >
    <ion-item >
      <ion-label><span class="result"></span>You will be receiving a total returns of  <strong id="b"> {{return_amount}}</strong>
     on investing in <br><strong id="b">{{ plan }} </strong>   for  <strong id="b"> {{ years }}</strong> years. </ion-label>
    </ion-item>
  
    </ion-list>
    <br>
</ion-card>
